//editorial
.editorial-cont{padding: 1% 0;
	.top{padding:1% 0; border-top:1px solid $border-colors; border-bottom:1px solid $border-colors; clear:both;
		h2{font-weight:normal; margin:0; padding:0 170px  0 20%; color:$second-gray; font-size:.9em; letter-spacing:2px; 
		text-transform: uppercase; display:inline-block; vertical-align:bottom;}
		img{display:inline-block;}
		
	 }
}

.edicion-desc{width:40%; margin:0 auto;

	p{letter-spacing:2px; font-size:.8em; margin:20px 0; line-height:20px; text-transform: uppercase;}
	
}

