//filtros
.filtros{text-align:center; padding:5% 0;
	a{letter-spacing:2px;font-size:.8em; text-decoration:none;display:inline-block; color:$main-gray;width:30%;
	-webkit-filter: grayscale(1); filter: grayscale(1);opacity:.5;transition:all 0.5s ease;
	&:hover{-webkit-filter: grayscale(0); filter: grayscale(0);opacity:1; color:$main-blue; transition:all 0.5s ease;}
		span{display:block; }
	}
	
	a.active{-webkit-filter: grayscale(0); filter: grayscale(0);opacity:1; color:$main-blue;}
}